
#container{
    display: inline-block;
    background-color: gray;

}
#first{
    display: inline-block;
    background-color: rgb(182, 47, 255);
    width: 60px;
    height: 60px;
    border: 2px solid black;
}
#second{
    display: inline-block;
    background-color: greenyellow;
    width: 60px;
    height: 60px;
    border: 2px solid black;
}
.button{
    background-color: green;
    border-color: greenyellow;
    
    
}
